/* Style the navigation menu */
body {
	margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #799090;
  /*position: relative;*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1; /*keeps elements from riding over*/
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: 007474;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #007474;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #009090;
  color: white;
}


h1{
	padding-top: 60px;
}

/*BUTTON ON IMAGE*/
/*.container{
	max-height: 300;
	width: 100%;
	background-color: blue;
	
}

#mappic {
	max-height: 375;
	width: 100%;
	}*/
img {
	vertical-align: top;
}

.btn0 {
  position: absolute;
  top: 40%;
  left: 70%;
 /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  background-color: #EBA76E;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1 {
  position: absolute;
  top: 55%;
  left: 70%;
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  background-color: #EBA76E;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn0:hover {

	background-color: #009090;
	transform: scale(1.05);
	

}

.btn1:hover {

	background-color: #009090;
	transform: scale(1.05);
	
}


#content0{
	background-color: grey;
	height: 400px;
	width: 100%;

}

#content1{
	background-color: lightgrey;
	height: 400px;
	width: 100%;

}

#content2{
	background-color: black;
	height: 400px;
	width: 100%;
}

